/* Сброс стандартных отступов */
html, body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  width: 100%;
}

/* Растягиваем root на всю страницу */
#root {
  width: 100vw;  /* 100% ширины viewport */
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  min-height: 100%;
}